@charset "ISO-8859-1";

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.box{
border: #DA70D6;
border-radius: 5px;
margin-top: 93px;
height:280px;
width:680px;
font-size:22px;
margin-left:21%;
color: black;
backdrop-filter: blur(10px);

}
body{
   background-image: url('https://images.unsplash.com/photo-1636716014665-a38c9b33e0c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1089&q=80');
   background-repeat: no-repeat;
   background-size: cover;
}
h2{
    color:#ff0080;
    height: 29px;
    width: 289px;
    margin-left: 500px;
    border-radius: 10px;
    background-color: #000000;
    text-align: center;
}

h2:hover{
    background-color: #c0c0c0;
}

.parell{
    margin-left: 66%;
    margin-top: -33%;
    height: 32%;
    width: 258px;
    background-color: black;
    color: white;
    font-size: larger;
    
}

.button2 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
    color: crimson;
    margin-top: 30px;
    background-color: white;
    margin-left: 23px;
     border-radius: 10px; 
}


.button3 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
    color: crimson;
    margin-top: 35px;
    background-color: white;
    margin-left: 1209px;
    border-radius: 10px;
}

