@charset "ISO-8859-1";

table, th {
	width: 50%;
	padding: 15px;
	text-align: left;
}

th, td {
	border: solid 1px #FFFF00;
	padding: 10px;
	border-color: #FFA07A;
}

center {
	float: center;
	text-align: center;
}

th, td {
	color: black;
}

body {
	background-image: url('');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}