@charset "ISO-8859-1";

table, th {
	width: 50%;
	padding: 15px;
	text-align: left;
}
h1{
	text-align:center;
}
th {
	border: solid 1px #777;
	padding: 10px;
	border-color: #cc0033;
}
center{
	float: center;
	text-align: center;
}

td {
	color: #000000;
}

tr {
	color: white;
}
body {
	background-image:
		url('https://images.unsplash.com/photo-1567095716798-1d95d8f4c479?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}