@charset "ISO-8859-1";


h1 {
	text-align: center;
}
label {
	
	font-size: 1.3em;
	display: flex;
	margin: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
#productId {
	width: 250px;
	height: 30px;
	border: none;
	border-radius: 3px;
	padding-left: 8px;
}
#quantity {
	width: 250px;
	height: 30px;
	border-radius: 3px;
	padding-left: 8px;
}
#rate {
	width: 250px;
	height: 30px;
	border: none;
	border-radius: 3px;
	padding-left: 8px;
}
#billAmount {
	width: 250px;
	height: 30px;
	border-radius: 3px;
	padding-left: 8px;
}
#modeOfPayment {
	width: 250px;
	height: 30px;
	border-radius: 3px;
	padding-left: 8px;
}
#billDate {
	width: 280px;
	height: 40px;
	border-radius: 3px;
	padding-left: 8px;
	}
#log {
	width: 250px;
	height: 30px;
	border-radius: 14px;
	padding-left: 10px;
	
}
